.movies-card {
  max-width: 364px;
  max-height: 271px;
  box-sizing: border-box;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
  overflow: hidden;
}

.movies-card:hover {
  box-shadow: 10px 10px 10px 10px rgba(17, 24, 229, .5);
  cursor: pointer;
  transition: .5s;
}

.movies-card__info {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 14px;
}

.movies-card__headers {
  margin: 0;
  max-width: 230px;
}

.movies-card__title {
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  margin-bottom: 9px;
  max-height: 18px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.movies-card__subtitle {
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #A0A0A0;
}

.movies-card__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  cursor: pointer;
  padding: 0;
  width: 30px;
  height: 30px;
  background-color: #F4F4F4;
  border-radius: 36px;
}

.movies-card__btn_state_active {
  background-color: #3456F3;
}

.movies-card__saved {
  width: 10px;
  height: 13px;
}

.movies-card__delete {
  width: 100%;
  height: 100%;
}

.movies-card__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  box-sizing: border-box;
}

@media screen and (max-width: 1070px) {
  .movies-card__headers {
    max-width: 150px;
  }
}

@media screen and (max-width: 900px) {
  .movies-card__headers {
    max-width: 250px;
  }
}

@media screen and (max-width: 850px) {
  .movies-card {
    max-width: 339px;
    max-height: 258px;
  }

  .movies-card__headers {
    max-width: 200px;
  }
}

@media screen and (max-width: 425px) {
  .movies-card {
    max-width: 300px;
    max-height: 236px;
  }
}