.profile {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1280px;
}

.profile__title {
  text-align: center;
  margin: 0;
  padding-top: 74px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.profile__container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.profile__items{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
}

.profile__items:first-child {
  border-bottom: 1px solid #E8E8E8;
}

.profile__items:last-of-type {
  padding-bottom: 0;
}

.profile__form {
  margin: 123px auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 410px;
}

.profile__input {
  padding: 0;
  width: 50%;
  background: transparent;
  border: none;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #2BE080;
  text-align: right;
}

.profile__input:focus-within {
  color: #3456F3;
  outline: none;
}

.profile__input:disabled {
  background-color: transparent;
  color: #000;
}

.profile__input:active {
  outline: none;
}

.profile__input:invalid {
  color: #EE3465;
}

.profile__label {
  width: 50%;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
}

.profile__validate {
  padding: 4px 0 3px;
  height: 10px;
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  color: #EE3465;
  margin-block-start: 0;
  margin-block-end: 0;
}

.profile__validate_state_active {
  visibility: visible;
}

.profile__submit {
  border: 0;
  background-color: transparent;
  margin: 220px auto 0;
  text-align: center;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.profile__link {
  text-align: center;
  color: #EE3465;
  margin: 16px 0 70px;
  padding: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  background-color: transparent;
  border: 0;
}

@media screen and (max-width: 850px) {
  .profile__title {
    padding-top: 236px;
  }

  .profile__form {
    margin-top: 96px;
  }

  .profile__submit {
    margin-top: 210px;
  }

  .profile__link {
    margin-bottom: 269px;
  }
}

@media screen and (max-width: 425px) {
  .profile__title {
    padding-top: 70px;
  }

  .profile__form {
    width: 260px;
    margin-top: 80px;
  }

  .profile__submit {
    margin-top: 370px;
    font-size: 12px;
    line-height: 15px;
  }

  .profile__link {
    margin-bottom: 40px;
    font-size: 12px;
    line-height: 15px; 
  }
}