.not-found {
  max-width: 1280px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.not-found__title {
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 140px;
  line-height: 169px;
  text-align: center;
}

.not-found__subtitle {
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  margin-bottom: 184px;
}

.not-found__btn {
  padding: 0;
  border: 0;
  width: 50px;
  background-color: transparent;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #3456F3;
}

@media screen and (max-width: 850px) {
  .not-found__subtitle {
    padding-top: 5px;
  }
}

@media screen and (max-width: 425px) {
  .not-found__title {
    font-size: 80px;
    line-height: 97px;
  }

  .not-found__subtitle {
    padding-top: 10px;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 284px;
  }
}