.portfolio {
  max-width: 1280px;
  padding: 100px 70px 125px 70px;
}

.portfolio__title {
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #A0A0A0;
}

.portfolio__units {
  padding: 50px 0 0 0;
  margin: 0 auto;
}

.portfolio__unit {
  list-style: none;
  border-bottom: 1px solid #E8E8E8;
  max-width: 1140px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.portfolio__unit:first-child {
  padding-top: 0;
}

.portfolio__unit:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.portfolio__link {
  display: flex;
  text-decoration: none;
  justify-content: space-between;
}

.portfolio__link-title {
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  color: #000;
}

.portfolio__link-img {
  width: 28px;
  height: 60px;
}

@media screen and (max-width: 850px) {
  .portfolio {
    padding: 90px 50px;
  }

  .portfolio__link-title {
    font-size: 28px;
  }
}

@media screen and (max-width: 425px) {
  .portfolio {
    padding: 70px 14px;
  }

  .portfolio__units {
    padding-top: 40px;
  }

  .portfolio__link-title {
    font-size: 18px;
    line-height: 28px;
  }

  .portfolio__link-img {
    width: 18px;
    height: 28px;
  }
}