.nav-movies {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 250px;
  padding-left: 10px;
  padding-right: 10px;
}

.nav-movies__items {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.nav-movies__items_state_burger {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.nav-movies__item {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}

.nav-movies__item:first-child {
  padding-right: 16px;
}

.nav-movies__item-burger {
  margin-bottom: 28px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.nav-movies__item-burger:first-child {
  padding-right: 0;
}

.nav-movies__item_state_active {
  font-weight: 500;
}

@media screen and (max-width: 850px) {
  .nav-movies {
    display: none;
  }

  .nav-movies_state_burger {
    display: block;
    padding: 0;
  }

  .nav-movies__item-burger_state_active {
    padding-bottom: 4px;
    border-bottom: 1px solid #000;
  }
}

@media screen and (max-width: 480px) {
  .nav-movies__item-burger {
    margin-bottom: 24px;
  }
}