.search-form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 1140px;
  padding: 60px 70px 10px 70px;
}

.search-form__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F4F4F4;
  border-radius: 40px;
  padding-right: 6px;
}

.search-form__form:focus-within {
  box-sizing: border-box;
  background-color: #DDDEE3;
  border: 0;
  transition: 1s;
}

.search-form__input {
  background-color: transparent;
  border: none;
  padding: 0;
  padding-left: 22px;
  height: 46px;
  width: 100%;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
}

.search-form__input::placeholder {
  color: #E8E8E8;
}

.search-form__input:focus {
  border-radius: 40px;
  outline: none;
  color: #3456F3;
}

.search-form__validate {
  text-align: center;
  height: 14px;
  margin: 0;
  padding: 0;
  padding-top: 6px;
  margin-bottom: 20px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #EE3465;
}

.search-form__validate_state_active {
  visibility: visible;
}

.search-form__btn {
  border: none;
  background-color: #3456F3;
  border-radius: 48px;
  padding: 0;
  cursor: pointer;
  max-height: 34px;
}

.search-form__btn-img {
  width: 22px;
  height: 22px;
  padding: 6px 29px;
}

.search-form__line {
  margin: 70px 0 0 0;
  max-width: 1140px;
  padding: 0 70px;
  border: 1px solid #E8E8E8;
}

@media screen and (max-width: 850px) {
  .search-form {
    padding-top: 80px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 425px) {
  .search-form {
    padding-left: 14px;
    padding-right: 14px;
  }

  .search-form__input {
    font-size: 11px;
    padding-left: 19px;
  }
}