.me {
  max-width: 1280px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  padding: 110px 0 0 0;
}

.me__header {
  margin: 0;
  padding-left: 70px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
}

.me__line {
  margin: 23px 70px 0 70px;
  max-width: 1140px;
}

.me__photo {
  max-width: 100%;
  max-height: 327px;
  object-fit: cover;
  border-radius: 10px;
}

.me__wrapper {
  display: flex;
  max-width: 1280px;
  padding: 66px 70px 0 70px;
  justify-content: space-between;
}

.me__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.me__title {
  margin: 0 auto;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
}

.me__subtitle {
  margin: 0 auto;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  padding: 18px 0 26px 0;
}

.me__text {
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  max-width: 600px;
  padding-right: 30px;
}

.me__github {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  width: 50px;
  padding-top: 10px;
}

@media screen and (max-width: 850px) {
  .me {
    padding-top: 90px;
  }

  .me__line {
    margin-left: 50px;
    margin-right: 50px;
  }

  .me__header {
    padding-left: 50px;
  }

  .me__wrapper {
    padding-left: 50px;
    padding-right: 50px;
  }

  .me__title {
    font-size: 40px;
    line-height: 40px;
  }

  .me__subtitle {
    padding-top: 16px;
    padding-bottom: 20px;
    font-size: 12px;
    line-height: 18px;
  }

  .me__text {
    font-size: 12px;
    line-height: 18px;
  }

  .me__photo {
    max-height: 307px;
  }
}

@media screen and (max-width: 500px) {
  .me {
    padding-top: 70px;
  }

  .me__line {
    margin-left: 14px;
    margin-right: 14px;
  }

  .me__header {
    padding-left: 14px;
  }

  .me__wrapper {
    padding-top: 60px;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    padding-left: 14px;
    padding-right: 14px;
  }

  .me__info {
    padding-top: 40px;
  }

  .me__title {
    font-size: 30px;
  }

  .me__subtitle {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 11px;
  }

  .me__text {
    padding-right: 0;
    font-size: 11px;
    line-height: 16px;
  }
  
  .me__photo {
    width: 292px;
    max-height: 100%;
    margin: 0 auto;
  }

  .me__github {
    padding-top: 40px;
  }
}